<log4net>
  
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="RootFileAppender"/>
  </root>

  <logger name="LSCS.Api">
    <level value="DEBUG"/>
    <appender-ref ref="ApiFileAppender"/>
  </logger>

  <appender name="RootFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../../Logs/Tests/ApiRootLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ABSOLUTE} [%thread] %level: %message %exception%newline"/>
    </layout>
  </appender>

  <appender name="ApiFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="../../Logs/Tests/ApiLog.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{ABSOLUTE} [%thread] %level: %message %exception%newline"/>
    </layout>
  </appender>
  
</log4net>