
@{
    ViewBag.Title = "Checklists";

}
@section Scripts{
    <script src="~/Scripts/Templates/Checklists.jsx"></script>
}

<h2>Checklists</h2>

@Html.ActionLink("Create New Checklist", "new")

<div id="checklist-list"></div>