body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    width: 500px;
    clear: both;
}

.container form {
    display: table;
}

.container p {
    display: table-row;
}

.container label {
    display: table-cell;
    min-width: 90px;
}

.container input {
    display: table-cell;
}

#nav-opt{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2em;
  font-weight:bold;
  padding-right:2%;
}

#navTitle{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.9em;
  font-weight:bold;
  line-height:1.1em;
}

h2{
    font-weight:100;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}