/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container form {
    display: table;
}

.container p {
    display: table-row;
}

.container label {
    display: table-cell;
    min-width: 90px;
}

.container input {
    display: table-cell;
}

#nav-opt{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2em;
  font-weight:bold;
  padding-right:2%;
}

#navTitle{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.9em;
  font-weight:bold;
  line-height:1.1em;
}

h2{
    font-weight:700;
    line-height:1.3em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

.checklist-descr{
    clear:both;
}
.checklist-hdr{

}

.checklist-hdr-title{
    border-bottom: solid 1px;
}

.checklist-hdr-dates{
    display: inline-block;
}

.checklist-hdr-address{
    display: inline-block;
    float: right;
}

/* ======== Form Styling ======== */

.form-object {
    background-color: #d9d9d9;
    border-radius: 4px 4px;
    padding: 10px 10px;
    margin: 10px 0;
}

.form-sub-object {
    background-color: #ebebeb;
    border-radius: 4px 4px;
    padding: 10px 10px;
    margin: 10px 0;
}

.table-heading {
    font-weight: bold;
    font-size: 1.2em;
}

.radio-label {
    padding-right: 10px;
}

legend {
    border-bottom: none;
}

