
@{
    ViewBag.Title = "Checklist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script src="~/Scripts/Templates/Checklist.jsx"></script>
}

<div id="checklist-view"></div>


