@{
    ViewBag.Title = "Login";
}
<div class="page-header">
    <h3><strong><big>Login</big></strong></h3>
</div>
<div class="col-md-12">
    <section id="loginForm">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" value="Username" onfocus="if(this.value == 'Username') { this.value = ''; }">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" value="Password" onfocus="if(this.value == 'Password') { this.value = ''; }" />
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Log In" class="btn btn-default" />
            </div>
        </div>
    </section>
</div>

